<h1>
	Welcome!
</h1>
<% if @errors %>
	<ul>
		<% if @errors.class == Array %>
			<% @errors.each do |error| %>
				<li><%= error %></li>
			<% end %>
		<% else %>
			<li>
				<%= @errors %>
			</li>
		<% end %>
	</ul>
<% end %>
<h3>
	Login
</h3>
<%= form_for :session, url: sessions_path do |f| %>
	<%= f.text_field :email, placeholder: "Email address" %>
	<%= f.password_field :password, placeholder: "Password" %>
	<%= f.submit "Login" %>
<% end %>

<h3>
	Create an Account
</h3>
<%= form_for :user, url: users_path do |f| %>
	<%= f.text_field :email, placeholder: "Email address" %>
	<%= f.password_field :password, placeholder: "Password" %>
	<%= f.password_field :code, placeholder: "Teacher Code" %>
	<%= f.submit "Signup" %>
<% end %>

