<h2>
</h2>

<div class="card">
	<div class="card_field detailed">
		Detailed information for<br> <%= @student.name %>
	</div>
	<div class="card_field">
		<table class="table-hover">
			<tr>
				<td>
					<strong>Student ID:</strong>
				</td>
				<td>
					<%= @student.student_id %>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Grade Level:</strong>
				</td>
				<td>
					<%= @student.grade_level %>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Gender:</strong>
				</td>
				<td>
					<%= @student.gender %>
				</td>
			</tr>
			<tr>
				<td>
					<strong>GPA:</strong>
				</td>
				<td>
					<%= @student.gpa %>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Detention Count:</strong>
				</td>
				<td>
					<%= @student.detention_count %>
				</td>
			</tr>
			<% @student.misc_hash.each do |k, v| %>
				<tr>
					<td>
						<strong><%= k %>:</strong>
					</td>
					<td>
						<%= v %>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
