<% if !@students.empty? %>
	<div class="wide card">
		<div class="card_field detailed">
			<% if @yours %>
				Students on your team:
			<% else %>
				Students on <%= @user.name %>'s team:
			<% end %>
		</div>
		<div class="card_field">

			<table>
				<tr>
					<td class="head">First Name</td>
					<td class="head">Last Name</td>
					<td class="head">Student ID</td>
					<td class="head">Grade Level</td>
					<td class="head">Gender</td>
					<td class="head">Detention Count</td>
					<td class="head">GPA</td>
				</tr>
				<% @students.each do |student| %>
					<tr>
						<td><%= link_to student.first, student_path(student) %></td>
						<td><%= student.last %></td>
						<td><%= student.student_id %></td>
						<td><%= student.grade_level %></td>
						<td><%= student.gender %></td>
						<td><%= student.detention_count %></td>
						<td><%= student.gpa %></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
	<div class="second card">
		<div class="card_field">
			<strong>Average GPA:</strong> <%= @avg_gpa %><br>
			<strong>Total detentions:</strong> <%= @total_detentions %><br>
			<strong>Average detentions per student:</strong> <%= @avg_detentions %><br>
			<strong>Percent male:</strong> <%= @percent_male %><br>
			<strong>Percent female:</strong> <%= @percent_female %><br>
		</div>
	</div>
<% else %>
	<div class="card">		
		<div class="card_field detailed">
			<% if @yours %>
				Students on your team:
			<% else %>
				Students on <%= @user.name %>'s team:
			<% end %>
		</div>
		<div class="card_field detailed">
			No students to show!
		</div>
	</div>
<% end %>






