<!DOCTYPE html>
<html>
<head>
  <title>Gary Comer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% logged_in? do %>
	<h3>
		Welcome, <%= link_to "#{User.find_by(id: session[:user_id]).name}", user_path(User.find_by(id: session[:user_id])) %>!
	</h3>

	<%= link_to "Logout", controller: "sessions", action: "logout" %>
	<br>
	<%= link_to "View all students", students_path %>
	<br>
	<%= link_to "View all advisors", users_path %>
	<br>
	<%= link_to "Edit your profile", edit_user_path(session[:user_id]) %>
<% end %>

<% admin? do %>
	<br><%= link_to "Add students", new_student_path %>
	<br><%= link_to
<% end %>

<%= yield %>

</body>
</html>
